
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: #41b5a7a5;
    color: rgb(255, 255, 255);
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navbar Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #ffea00;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content Styles */
main {
    padding: 20px 0;
}

main h2 {
    margin-bottom: 20px;
}

main p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Footer Styles */
footer {
    background-color: #ff5900;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
