#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
main{
     background-image: url('./assets/Image/Miniprojectpic.jpg');
     width:100%;
    height:100%;
    
  
    background-size: cover;
    background-position: center;
}


